*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
.teste, .teste1, .teste2{
    width: 300px;
    margin-top: 30px;
    margin-left: 30px;
    display: inline-block;
    height: 300px;
    background-color: #cccccc;
    
}
.teste1{
    background-color: rgb(98, 98, 98);
}
.teste2{
    background-color: rgb(58, 58, 58);
}
/*
.teste:hover{
    background-color: blue;
    height: 900px;
}
.teste, .teste1, .teste2:hover{
    vertical-align: top;
}

.teste:active{
    background-color: brown;
}
*/
.teste3:focus{
    background-color: red;
    
}
.textarea1{
    display: block;
    width: 600px;
    height: 400px;
}
.link1:link{
    color:orange;
}