*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
/*
ul{
    list-style-position: inside;
}
ul li:nth-of-type(2){
    color: red;
}
ul li:nth-child(3){
    color: sienna;
}
*/
.box{
    width: 100%;
}
.box > div{
    box-sizing: border-box;
    width: 33.3%;
    height: 400px;
    float: left;
    background-color: red;
    border: 1px solid black;

}
.box div:last-of-type{
    background-color: rgb(12, 51, 53);
}
.box div:last-of-type p{
    color: rgb(240, 238, 231);
}
.box div:not(.one){
    background-color: gold;
}
p:empty{
    background-color: orange;
    width: 300px;
    height: 300px;
}
p::after{
    content: ' Alessandra';
    color: red;
    margin: 5px;
}